{% extends 'layouts/core.html' %}
{% block content %}
<div class="min-h-1/2 flex items-center justify-center bg-gray-200 font-bold fill">
    <form method="POST" action="/signup/">
    {% csrf_token %}
        <input class="p-4 my-2 border-2 border-gray-400 font-bold rounded-md focus:outline-none" name="email" placeholder="EMAIL">
        <input class="p-4 my-2 border-2 border-gray-400 font-bold rounded-md focus:outline-none" name="username" placeholder="USERNAME">
        <button class="p-4 my-2 border-2 border-gray-400 font-bold bg-green-500 rounded-md hover:bg-gray-100" type="SUBMIT">Continue</button>
    </form>
</div>
{% endblock %}