<nav class="bg-gray-300 shadow-lg border-b-2 border-gray-400 font-bold">
<div class="flex justify-between py-4 p-4">
    <span class="flex">
        <div>
            Token Authentication Project
        </div>
        <a class="ml-2 hover:text-green-500" href="/" class="mx-2">
            Home
        </a>
    </span>

    <div class="flex justify-between">
        {% if user.is_authenticated %}
            <div class="mx-2">
                {{ user.username }}
            </div>
            <a class="hover:text-green-500" href="/logout" class="mx-2">
                Logout
            </a>
        {% else %}
            <a href="/login" class="mx-2">
                Login
            </a>
            <a href="#" class="mx-2">
                Register
            </a>
        {% endif %}
    </div>

    </div>
</div>
</nav>